body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f2bc94;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:10px;
    max-width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.display {
    grid-column: span 4;
    text-align: right;
    padding: 20px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.btn {
    padding: 10px;
    background-color: pink;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}